.carousel {
    position: relative;
    width: 80%; /* Ajustado para ocupar 80% da largura da página */
    max-width: 1200px; /* Limite de largura máxima */
    height: 400px; /* Altura fixa para o carrossel */
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: calc(100% - 20px); /* Largura ajustada com espaçamento */
    height: 100%; /* Altura fixa */
    object-fit: cover; /* Mantém a proporção das imagens */
    margin-right: 20px; /* Espaçamento entre as imagens */
}

.carousel-inner > * {
    flex: 0 0 auto;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.banner {
    width: 80%; /* Ajustado para ocupar 80% da largura da página */
    max-width: 1200px; /* Limite de largura máxima */
    margin: 20px auto; /* Centralizado com margem superior e inferior */
    text-align: center; /* Centraliza a imagem do banner */
}

.banner img {
    width: 100%; /* Ajusta a largura da imagem para 100% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
